[hidden] {
    display: none;
}

button {
    user-select: text;
    cursor: pointer;
    padding: 0;
    outline: none;
}

adj-seeker {
    position: $seeker-position;
    display: $seeker-display;
    height: 100%;
    cursor: pointer;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    width: 33.3%;
    table-layout: fixed;
    border-style: solid;
    border: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

* {
    box-sizing: border-box;
    line-height: 1.5;
}
