//Paths
    $image-path: "/";
    $font-path: "http://dev.vodu.adjara.me/assets/fonts-player/";

//colors
        $primary: #008AFF;
        $secondary: rgba(#fff, .5);
        $muted: #515151;
        $body: #2E2E33;
        $light: rgba(#fff, .25);
        $secondary-hover: (rgba(#fff, 1));
        $dark: rgba(#1C1C1F, .95);
        $white: #fff;
        $black: rgba(#000, .2);
        $item-title-color: #fff;
        $item-border-color: #2E2E33;
        $item-hover-color: rgba(#2E2E33, 1);

    //font
        $font-names: (plmt: FiraGO-Medium, plnus: FiraGO-Regular, plico: icomoon);
        $font-plnus: FiraGO-Regular;
        $font-plmt: FiraGO-Medium;
        $font-plico: icomoon;
        $font-size: (xl: 21, lg: 16, md: 13, sm: 12, xs: 0);

    //index
        $z-index: (0, 5, 10, 15, 20, 40, 60, 80, 100);

    //positions. supported from w3schools: static, absolute, fixed, relative, sticky, initial, inherit
        $position-array: (static, absolute, fixed, relative, sticky);

    //display. supported from w3schools: inline, block, contents, flex, grid, inline-block, inline-flex, inline-grid, list-item, run-in, table, table-caption, table-column-group, table-header-group, table-footer-group, table-row-group, table-cell, table-column, table-row, none, initial, inherit
        $display-array: (inline, block, flex, none);

    //justify content && align items && shrink && orders && text
        $justify-array: (start:flex-start, end:flex-end, center:center, between:space-between, around:space-around);
        $align-array: (start:flex-start, end:flex-end, center:center, baseline:baseline, stretch:stretch);
        $shrink-array: (0, 1, initial, inherit);
        $order-array: (0, 1, 2, 3, 4, 5, 6, 7);
        $text-array: (left: left, right: right, just: justify, center: center);
        $text-transform-array: (uppercase, lowercase, capitalize);

        //vertical-align: baseline|length|sub|super|top|text-top|middle|bottom|text-bottom|initial|inherit;
            $vertical-align-array: (baseline:baseline, top: top, middle: middle, bottom: bottom);

    //directions
        $direction-array: (t:top, r:right, b:bottom, l:left);

        //position property
            $positionPropertys: (top, right, bottom, left, full);
        //element position
            $element-position-value: (0, 5, 15, -10);

    //spacers xl, lg, md, sm, xs
        $spacer-array: (30, 28, 24, 20, 18, 15, 10, 6, 2, 1, 0);

    //icon
        $icon: (download: "\e900", 10-sec: "\e901", 10sec: "\e902", burgers: "\e903", plclose: "\e904", download-2: "\e905", fit-land: "\e906", fit-port: "\e907", fullscreen: "\e908", mute: "\e909", next-episode: "\e90a", pause: "\e90b", player: "\e90c", prev-episode: "\e90d", setting: "\e90e", sound: "\e90f");
        $icon-sizes: (xxl: 30, xl: 20, lg: 16, md: 13, sm: 12);

    //width && height //Dimensions
        $dimensions-array-precent: (100, 0);
        $dimensions-array-pixel: (2, 10, 35, 40, 50, 75, 90, 135, 230, 252);

    //colors
        $color-array: (primary: $primary, secondary: $secondary, muted: $muted, light: $light, transparent: transparent, dark: $dark, white: $white, black: $black, body:$body);

    //border
        $borderWidth: (0, 1, 2, 5);

    //rounded
        $rounded-array: (50);

    //blur
        $blur-array: (5, 3);

    //seeker
        $seeker-height: 2px;
        $seeker-position: relative;
        $seeker-display: block;

    //container
        $container-array: (930, 690, 630);

    //item
        $item-padding: 30px;
        $item-thumbnail-margin-x: 30px;

        $item-thumbnail-x: 210px;
        $item-thumbnail-y: 118px;

        $item-title-font-size: 16px;

    //content box \ box-sizing: content-box|border-box|initial|inherit;
        $boxSizing-array: (content: content-box, border: border-box);
