<div [class]="classNames">
  <!--seeker-->
  <div class="timeline background-light pos-absolute pos-full-0 m-auto">

    <!---->
    <div class="background-primary index-10 current-time"
         [ngStyle]=" type === 0 && {'width.%': model / max * 100} || {'height.%': model / max * 100}"
        >
      <!--[style.width.%]="model / max * 100" [style.height.%]="model / max * 100"-->
      <button
        class="pos-absolute m-auto rounded-50 dis-block f-shrink-0 p-0 index-5 background-primary x-10 y-10 border-full-0 seeker-button"></button>
    </div>
    <!---->

    <div #cont></div>

    <!--buffer-->
    <!--<div class="y-100 pos-absolute pos-left-0 pos-top-0 pos-bottom-0 m-auto index-5 background-secondary"-->
         <!--style="width: 65%;"></div>-->
    <!--buffer-->

    <!--sprite-->
      <div class="sprite pos-absolute pos-top--10 pos-left-0 transform-x-50-y-100 pl-item p-0 pl-item--border-none pl-item-border-none pl-overflow">

        <div class="pl-item__thumbnail m-0">
          <img src="../../../assets/image/404-img-background-two.png"/>
        </div>

      </div>
    <!--sprite-->

  </div>
  <!--seeker-->
</div>
