//gradient
    .gradient {
        outline: none;
        
        &::after {
            display: block;
            width: 100%;
            height: 100%;
            content: "";
            position: absolute;
            top: 0; bottom: 0;
            left: 0; right: 0;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.25) 12%, rgba(0, 0, 0, 0.2) 89%, rgba(0, 0, 0, 0.65));
            z-index: 5;
        }

    }
//gradient