.icon {
    display: inline-block;
    vertical-align: middle;
    transition: color .2s linear;
    
    &:after {
        display: inline-block;
        vertical-align: top;
        line-height: .8;
    }

    &:hover, &.active {
        color: $secondary-hover;
    }
}

//icon state
    .active {
        @include getActiveIcon("player", "\e90b");
    }