//item
    .pl-item {
        position: relative;
        padding: $item-padding;
        transition: background-color .2s linear;

        &:after {
            width: calc(100% - #{$item-padding});
            height: 1px;
            display: block;
            margin: auto;
            position: absolute;
            left: 0; right: 0;
            bottom: 0;
            content: "";
            background-color: $item-border-color;
        }

        &--border-none {

            &:after {
                display: none;
            }

        }

        &__thumbnail {
            width: $item-thumbnail-x;
            height: $item-thumbnail-y;
            margin-right: $item-thumbnail-margin-x;
            
            img {
                width: 100%;
                min-height: 100%;
                display: block;
                user-select: none;
            }
        }

        &__title {
            font: $item-title-font-size $font-plmt;
            color: #fff;
            margin-bottom: 5px; 
        }

        &:hover {
            background-color: $item-hover-color;
        }
    }