.seeker-x {

    .timeline {
        @extend .x-100; 
        @extend .y-2;
    }
    
    .current-time {
        @extend .x-0; 
        @extend .y-100;
        @extend .pos-relative;
    }

    .seeker-button {
        @extend .pos-right-0; 
        @extend .pos-top-0; 
        @extend .pos-bottom-0;
    }
    
}

.seeker-y {

    .timeline {
        @extend .y-100; 
        @extend .x-2;
    }
    
    .current-time {
        @extend .y-0; 
        @extend .x-100;
        @extend .pos-absolute;
        @extend .pos-bottom-0;
    }

    .seeker-button {
        @extend .pos-right-0; 
        @extend .pos-left-0; 
        @extend .pos-top-0; 
        @extend .transform-x-40;
    }

}