    @mixin hideElements($opacity, $visibility, $time){
        opacity: #{$opacity};
        visibility: #{$visibility};
        transition: opacity #{$time}s linear;
    }

.hide-element {
    @include hideElements("0", "hidden", ".2");

    &.active {
        @include hideElements("1", "visible", ".2");
    }
}

.control-hide {
    transition: opacity .1s linear;
}

.hide-controls {

    .control-hide {
        @include hideElements("0", "hidden", ".2");
    }

    .gradient {

        &:after {
            display: none;
        }
        
    }
}

//volume
    .sound-indicator {
        @include hideElements("0", "hidden", ".2");
    }

    .volume {

        &:hover {
            .sound-indicator {
                @include hideElements("1", "visible", ".2");
            }
        }
        
    }

//blur hover states
    .hover-blur-0 {

        &:hover {
            
            @each $blur in $blur-array {
                
                .blur-#{$blur} {
                    filter: blur(0px);
                }

            }

        }

    }

//sprite
    .sprite {
        @include hideElements("0", "hidden", ".2");
    }

    .seeker-x {
       padding: 12px 0;

        &:hover {

            .sprite {
                @include hideElements("1", "visible", ".2");
            } 

        }

    }