<div id="player">
  <div id="fullscreen" class=" pos-relative x-100 y-100 gradient background-dark index-0" tabindex="1"
       (keydown)="onKeyDown($event);">
    <!--episodes-->
    <button
      class="fs-lg text-color-secondary background-transparent border-full-0 f-plnus pos-absolute pos-left-15 pos-top-15 index-20 control-hide">
      <span class="icon icon-lg f-plico icon-burgers mr-20"></span> სეზონი 1 / სერია 2
    </button>

    <!--overlay-->
    <div class="pos-absolute pos-full-0 index-100 background-dark pl-overflow-y" hidden>

      <!---->
      <div class="y-75 background-body dis-flex ali-items-center pl-30 pr-30 mb-30 pos-sticky pos-top-0 index-15">

        <!--close-->
        <button class="background-transparent border-full-0 text-color-secondary">
          <span class="icon icon-md f-plico icon-plclose"></span>
        </button>
        <!--close-->

        <!---->
        <span class="ml-20 f-plmt text-color-white fs-md mr-20" >სეზონი</span>
        <!---->

        <!--episodes list-->

        <ul class="dis-flex text-color-secondary">

          <li class="mr-20">
            <button class="background-transparent border-full-0 text-color-white">1</button>
          </li>
          <li class="mr-20">
            <button class="background-transparent border-full-0 text-color-white">2</button>
          </li>
          <li class="mr-20">
            <button class="background-transparent border-full-0 text-color-white">3</button>
          </li>
          <li class="mr-20">
            <button class="background-transparent border-full-0 text-color-white">4</button>
          </li>
          <li class="mr-20">
            <button class="background-transparent border-full-0 text-color-white">5</button>
          </li>

        </ul>

        <!--episodes list-->

      </div>
      <!---->

      <!---->
      <div class="pl-container m-auto pos-relative index-10">

        <!--items-->
        <a href="javascript:void(0)">
          <div class="pl-item dis-flex">

            <!---->
            <div class="pl-item__thumbnail">
              <img src="../../../assets/image/404-img-background-two.png"/>
            </div>
            <!---->

            <!---->
            <div class="dis-flex ali-items-center">

              <div>
                <h2 class="pl-item__title">3. lord snow</h2>

                <div class="fs-sm">
                  <button class="mr-10 text-color-white background-transparent t-transform-uppercase border-full-0">
                    eng
                  </button>
                  <button class="mr-10 text-color-white background-transparent t-transform-uppercase border-full-0">
                    geo
                  </button>
                  <button class="text-color-white background-transparent t-transform-uppercase border-full-0">rus
                  </button>
                </div>

              </div>

            </div>
            <!---->

          </div>
        </a>
        <!--items-->

        <!--items-->
        <a href="javascript:void(0)">
          <div class="pl-item dis-flex">

            <!---->
            <div class="pl-item__thumbnail">
              <img src="../../../assets/image/404-img-background-two.png"/>
            </div>
            <!---->

            <!---->
            <div class="dis-flex ali-items-center">

              <div>
                <h2 class="pl-item__title">3. lord snow</h2>

                <div class="fs-sm">
                  <button class="mr-10 text-color-white background-transparent t-transform-uppercase border-full-0">
                    eng
                  </button>
                  <button class="mr-10 text-color-white background-transparent t-transform-uppercase border-full-0">
                    geo
                  </button>
                  <button class="text-color-white background-transparent t-transform-uppercase border-full-0">rus
                  </button>
                </div>

              </div>

            </div>
            <!---->

          </div>
        </a>
        <!--items-->

        <!--items-->
        <a href="javascript:void(0)">
          <div class="pl-item dis-flex">

            <!---->
            <div class="pl-item__thumbnail">
              <img src="../../../assets/image/404-img-background-two.png"/>
            </div>
            <!---->

            <!---->
            <div class="dis-flex ali-items-center">

              <div>
                <h2 class="pl-item__title">3. lord snow</h2>

                <div class="fs-sm">
                  <button class="mr-10 text-color-white background-transparent t-transform-uppercase border-full-0">
                    eng
                  </button>
                  <button class="mr-10 text-color-white background-transparent t-transform-uppercase border-full-0">
                    geo
                  </button>
                  <button class="text-color-white background-transparent t-transform-uppercase border-full-0">rus
                  </button>
                </div>

              </div>

            </div>
            <!---->

          </div>
        </a>
        <!--items-->

        <!--items-->
        <a href="javascript:void(0)">
          <div class="pl-item dis-flex">

            <!---->
            <div class="pl-item__thumbnail">
              <img src="../../../assets/image/404-img-background-two.png"/>
            </div>
            <!---->

            <!---->
            <div class="dis-flex ali-items-center">

              <div>
                <h2 class="pl-item__title">3. lord snow</h2>

                <div class="fs-sm">
                  <button class="mr-10 text-color-white background-transparent t-transform-uppercase border-full-0">
                    eng
                  </button>
                  <button class="mr-10 text-color-white background-transparent t-transform-uppercase border-full-0">
                    geo
                  </button>
                  <button class="text-color-white background-transparent t-transform-uppercase border-full-0">rus
                  </button>
                </div>

              </div>

            </div>
            <!---->

          </div>
        </a>
        <!--items-->

        <!--items-->
        <a href="javascript:void(0)">
          <div class="pl-item dis-flex">

            <!---->
            <div class="pl-item__thumbnail">
              <img src="../../../assets/image/404-img-background-two.png"/>
            </div>
            <!---->

            <!---->
            <div class="dis-flex ali-items-center">

              <div>
                <h2 class="pl-item__title">3. lord snow</h2>

                <div class="fs-sm">
                  <button class="mr-10 text-color-white background-transparent t-transform-uppercase border-full-0">
                    eng
                  </button>
                  <button class="mr-10 text-color-white background-transparent t-transform-uppercase border-full-0">
                    geo
                  </button>
                  <button class="text-color-white background-transparent t-transform-uppercase border-full-0">rus
                  </button>
                </div>

              </div>

            </div>
            <!---->

          </div>
        </a>
        <!--items-->

      </div>
      <!---->

    </div>
    <!--overlay-->
    <!--episodes-->

    <!--next\prev episodes-->

    <!--prev-->
    <div
      class="pos-absolute pos-top-0 pos-bottom-0 pos-left-0 pr-30 pl-30 dis-flex ali-items-center index-15 hover-blur-0 control-hide">

      <!---->
      <a href="javascript:void(0)">
        <div class="pl-item p-0 pl-item--border-none">

          <div class="pl-item__thumbnail m-0 pos-relative pl-overflow">
            <img src="../../../assets/image/404-img-background-two.png" class="blur-3"/>

            <!---->
            <div class="pos-absolute pl-15 pr-15 pb-15 pos-bottom-0 x-100">

              <h2 class="pl-item__title">3. lord snow</h2>

              <div class="fs-sm">
                <button class="mr-10 text-color-white background-transparent t-transform-uppercase border-full-0">eng
                </button>
                <button class="mr-10 text-color-white background-transparent t-transform-uppercase border-full-0">geo
                </button>
                <button class="text-color-white background-transparent t-transform-uppercase border-full-0">rus</button>
              </div>

            </div>
            <!---->
          </div>

        </div>
      </a>
      <!---->

    </div>
    <!--prev-->

    <!--next-->
    <div
      class="pos-absolute pos-top-0 pos-bottom-0 pos-right-0 pr-30 pl-30 dis-flex ali-items-center index-15 hover-blur-0 control-hide">

      <!---->
      <a href="javascript:void(0)">
        <div class="pl-item pl-item--border-none p-0">

          <div class="pl-item__thumbnail m-0 pos-relative pl-overflow">
            <img src="../../../assets/image/404-img-background-two.png" class="blur-3"/>

            <!---->
            <div class="pos-absolute pl-15 pr-15 pb-15 pos-bottom-0 x-100">

              <h2 class="pl-item__title">3. lord snow</h2>

              <div class="fs-sm">
                <button class="mr-10 text-color-white background-transparent t-transform-uppercase border-full-0">eng
                </button>
                <button class="mr-10 text-color-white background-transparent t-transform-uppercase border-full-0">geo
                </button>
                <button class="text-color-white background-transparent t-transform-uppercase border-full-0">rus</button>
              </div>

            </div>
            <!---->
          </div>

        </div>
      </a>
      <!---->

    </div>
    <!--next-->

    <!--next\prev episodes-->

    <!--download-->
    <a href="{{videoSrc}}" target="_blank" download
       class="fs-lg text-color-secondary background-transparent border-full-0 f-plnus pos-absolute pos-right-15 pos-top-15 index-20 control-hide">
      გადმოწერა <span class="icon icon-lg f-plico icon-download ml-20"></span>
    </a>
    <!--download-->

    <!--HTML video tag-->
    <video #Player id="videoPlayer" autoplay (timeupdate)="timeUpdate()" class="pos-relative index-0 x-100 y-100 dis-block"
           preload="metadata">
      <source src="{{videoSrc}}" type="video/mp4"/>
      <source src="{{videoSrc}}" type="video/ogg"/>
    </video>
    <!--HTML video tag-->

    <!---->
    <div class="pos-absolute index-15 pos-full-0 m-auto x-max-230 y-max-50 dis-flex just-content-between control-hide">
      <!---->
      <button class="background-transparent border-full-0 text-color-secondary">
        <span class="icon icon-xxl icon-10sec f-plico"></span>
      </button>
      <!---->

      <!---->
      <button class="background-transparent border-full-0 text-color-secondary">
        <span class="icon icon-xxl icon-player f-plico"></span>
      </button>
      <!---->

      <!---->
      <button class="background-transparent border-full-0 text-color-secondary">
        <span class="icon icon-xxl icon-10-sec f-plico"></span>
      </button>
      <!---->
    </div>
    <!---->

    <!--controls-->
    <div
      class="control user-select-none x-100 p-30 pos-absolute pos-bottom-0 pos-left-0 index-20 dis-flex control-hide">

      <!--play&pause-->
      <!--play&pause-->

      <!--timeshift-->
      <div class="text-color-secondary f-plmt fs-lg mr-20 f-shrink-0 x-40 order-1">{{CurrentTime}}</div>
      <!--timeshift-->

      <!--seeker-->
      <div class="x-100 mr-20 order-2">
        <adj-seeker [max]="player.nativeElement.duration" [(model)]="player.nativeElement.currentTime"
                (modelChange)="PlayOn($event)" [modifier]="['seeker-x']" [type]="0"></adj-seeker>
      </div>
      <!--seeker-->

      <!--control-group-->

      <!--timeshift-->
      <div class="text-color-secondary f-plmt fs-lg f-shrink-0 mr-20 x-40 order-3">{{Duration}}</div>
      <!--timeshift-->

      <!--settings-->
      <div class="mr-20 order-4 pos-relative">
        <button class="f-shrink-0 text-color-secondary background-transparent border-full-0">
          <span class="icon icon-xl f-plico icon-setting"></span>
        </button>

        <!--settings indicator-->
        <div
          class="pos-absolute background-dark pos-right-0 m-auto pos-top--10 transform-y-100 x-252 y-135 hide-element">

          <!--settings indicator head table-->
          <table class="x-100 y-100 border-full-0 text-color-white f-plmt fs-md t-align-center">

            <!--head-->
            <thead>
            <tr class="background-light y-35">
              <td class="border-right-1 border-color-black">ხარისხი</td>
              <td class="border-right-1 border-color-black">ენა</td>
              <td class="t-transform-uppercase">cc</td>
            </tr>
            </thead>
            <!--head-->

            <!--body-->
            <tbody>
            <tr>

              <td class="pt-6 border-right-1 border-color-black v-align-top">
                <button class="mb-2 text-color-white x-100 background-transparent t-transform-uppercase border-full-0">
                  hd
                </button>
                <button class="text-color-white x-100 background-transparent t-transform-uppercase border-full-0">ss
                </button>
              </td>

              <td class="pt-6 border-right-1 border-color-black v-align-top">
                <button class="mb-2 text-color-white x-100 background-transparent t-transform-uppercase border-full-0">
                  eng
                </button>
                <button class="mb-2 text-color-white x-100 background-transparent t-transform-uppercase border-full-0">
                  geo
                </button>
                <button class="text-color-white x-100 background-transparent t-transform-uppercase border-full-0">rus
                </button>
              </td>

              <td class="pt-6 v-align-top">
                <button class="mb-2 text-color-white x-100 background-transparent t-transform-uppercase border-full-0">
                  off
                </button>
                <button class="mb-2 text-color-white x-100 background-transparent t-transform-uppercase border-full-0">
                  eng
                </button>
                <button class="mb-2 text-color-white x-100 background-transparent t-transform-uppercase border-full-0">
                  geo
                </button>
                <button class="text-color-white x-100 background-transparent t-transform-uppercase border-full-0">rus
                </button>
              </td>

            </tr>
            </tbody>
            <!--body-->

          </table>
          <!--settings indicator head-->

        </div>
        <!--settings indicator-->

      </div>
      <!--settings-->

      <!--included Components-->
        <div #cont class="order-6"></div>
      <!--included Components-->

      <!--control-group-->

    </div>
    <!--controls-->

  </div>

</div>
