/*Geting data from variables, class generators, functions*/

        //font sizes
            @each $size, $value in $font-size {

                .fs-#{$size} {
                    font-size: #{$value}px;
                }

            }
        //font sizes

        //fonts
            @each $font-name, $value in $font-names {

                @if($font-name == "mt") {

                    .f-#{$font-name} {
                        font-family: #{$value};
                        -moz-font-feature-settings: 'case';
                        -webkit-font-feature-settings: 'case';
                        font-feature-settings: 'case' on;
                    }

                }@else {
                    .f-#{$font-name} {
                        font-family: #{$value};
                            -moz-font-feature-settings: normal;
                        -webkit-font-feature-settings: normal;
                        font-feature-settings: normal;
                    }
                }

            }
        //fonts

        //index
            @each $index in $z-index {
                .index-#{$index} {
                    z-index: #{$index};
                }
            }
        //index

        //position
            @each $value in $position-array {

                .pos-#{$value} {
                    position: #{$value} !important;
                }

            }
        //position

        //display
            @each $value in $display-array {

                .dis-#{$value} {
                    display: #{$value};
                }

            }
        //display

        //spacers
            @each $space in $spacer-array {

                @each $direction-short, $direction in $direction-array {

                    .m#{$direction-short}-#{$space} {
                        margin-#{$direction}: #{$space}px !important;
                    }

                    .p#{$direction-short}-#{$space} {
                        padding-#{$direction}: #{$space}px !important;
                    }

                }

            }

            // Some special margin utils
                @each $special-spacers in $spacer-array {

                    $unit: "px";

                    .m-#{$special-spacers} {
                        margin: #{$special-spacers + $unit} !important;
                    }

                    .p-#{$special-spacers} {
                        padding: #{$special-spacers + $unit} !important;
                    }

                }

                .m-auto {
                    margin: auto !important;
                }

                .p-auto {
                    padding: auto !important;
                }
        //spacers

        //element position
            @each $property in $positionPropertys {

                @each $value in $element-position-value {

                    .pos-#{$property}-#{$value} {

                        @if($property == "full"){
                            top: #{$value}px;
                            right: #{$value}px;
                            bottom: #{$value}px;
                            left: #{$value}px;
                        }@else {
                            #{$property}: #{$value}px;
                        }

                    }

                }

            }
        //element position


        //justify && align && shrink && text && grow && vertical

                @each $just-short, $just in $justify-array {

                    .just-content-#{$just-short} {
                        justify-content: #{$just} !important;
                     }

                }

                @each $align-short, $align in $align-array {

                    .ali-items-#{$align-short} {
                        align-items: #{$align} !important;
                     }

                }

                @each $shrink in $shrink-array {

                    .f-shrink-#{$shrink} {
                        flex-shrink: #{$shrink};
                    }

                    .f-grow-#{$shrink} {
                        flex-grow: #{$shrink};
                    }

                }

                @each $text-short, $text in $text-array {

                    .t-align-#{$text-short} {
                        text-align: #{$text};
                    }

                }

                @each $text-transform in $text-transform-array {

                    .t-transform-#{$text-transform} {
                        text-transform: #{$text-transform};
                    }

                }

                @each $vertical-align-short, $vertical in $vertical-align-array {

                    .v-align-#{$vertical-align-short} {
                        vertical-align: #{$vertical};
                    }

                }

        //justify && align && shrink && text && grow && vertical

        //icon
            @each $icon-size, $icon-value in $icon-sizes {

                .icon-#{$icon-size} {
                    width: #{$icon-value}px;
                    height: #{$icon-value}px;
                    font-size: #{$icon-value}px;
                }

            }

            @each $name, $value in $icon {

                .icon-#{$name} {

                    &:after {
                        content: '#{$value}';
                    }

                }

            }
        //icon

        //dimensions

            @mixin allianceSize($size, $unit){

                .x-#{$size} {
                    width: #{$size + $unit};
                }

                .y-#{$size} {
                    height: #{$size + $unit};
                }

                .x-max-#{$size} {
                    max-width: #{$size + $unit};
                }

                .y-max-#{$size} {
                    max-height: #{$size + $unit};
                }
            }

            @each $size in $dimensions-array-precent {
                @include allianceSize($size, "%");
            }

            @each $size in $dimensions-array-pixel {
                @include allianceSize($size, "px");
            }

            //transform
                .transform-y-100 {
                    transform: translateY(-100%);
                }

                .transform-x-40 {
                    transform: translateX(-40%);
                }

                .transform-x-50-y-100 {
                    transform: translateX(-50%) translateY(-100%);
                }
        //dimensions

        //color
            @each $color-name, $color in $color-array {

                .background-#{$color-name} {
                    background-color: #{$color};
                }

                .text-color-#{$color-name} {
                    color: #{$color};
                }

                .border-color-#{$color-name} {
                    border-color: #{$color};
                }

            }
        //color

        //border
            @each $options in $positionPropertys {

                @each $weight in $borderWidth {

                    .border-#{$options}-#{$weight} {

                        @if($options == "full"){
                            border-width: #{$weight}px;
                        }
                        @else{
                            border-#{$options}-width: #{$weight}px !important;
                            border-#{$options}-style: solid !important;
                        }

                        &:last-child {
                            border-width: 0 !important;
                        }

                    }

                }

            }
        //border

        //rounded
            @each $round in $rounded-array {

                .rounded-#{$round} {
                    border-radius: #{$round + "%"};
                }

            }
        //rounded

        //orders not finished
            @each $order in $order-array {

                .order-#{$order} {
                    order: #{$order};
                }

            }
        //orders not finished

        //icon states
            @mixin getActiveIcon($class,$value){

                .icon-#{$class} {

                    &:after {
                        content: "#{$value}";
                    }

                }

            }
        //icon states

        //blur
            @each $blur in $blur-array {

                .blur-#{$blur} {
                    filter: blur(#{$blur}px);
                    transition: filter .2s linear;
                }

            }
        //blur

        //overflow
            .pl-overflow-y {
                overflow-y: auto;
            }

            .pl-overflow {
                overflow: hidden;
            }
        //overflow

        //box sizing-array
            @each $box-short, $box in $boxSizing-array{

                .box-#{$box-short} {
                    box-sizing: #{$box};
                }

            }
        //box sizing-array

        //user select
            .user-select-none {
                user-select: none;
            }
        //user select